<h1>薬品一覧</h1>
<%= button_to :create, new_chemical_path, method: :get %>
<table border="thin">
  <tr>
    <th>薬品名</th>
    <th>使用作物</th>
    <th>備考</th>
    <th>修正</th>
  </tr>
  <% @chemicals.each do |chemical| %>
    <tr>
      <td><%= chemical.name %></td>
      <td><%= chemical.item %></td>
      <td><%= chemical.info %></td>
      <td><%= button_to :update, edit_chemical_path(chemical), method: :get %>
    </tr>
  <% end %>
</table>
