<h1>日記一覧</h1>
<%= button_to :create, new_task_path, method: :get %>
<table border="thin">
  <tr>
    <th>日付</th>
    <th>作物</th>
    <th>内容</th>
    <th>修正</th>
  </tr>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.date %></td>
      <td><%= task.item %></td>
      <td><%= task.body %></td>
      <td><%= button_to :update, edit_task_path(task), method: :get %>
    </tr>
  <% end %>
</table>
