<h1>作物一覧</h1>
<%= button_to :create, new_produce_path, method: :get %>
<table border="thin">
  <tr>
    <th>作物名</th>
    <th>種類</th>
    <th>備考</th>
    <th>修正</th>
  </tr>
  <% @produces.each do |produce| %>
    <tr>
      <td><%= produce.name %></td>
      <td><%= produce.item %></td>
      <td><%= produce.info %></td>
      <td><%= button_to :update, edit_produce_path(produce), method: :get %>
    </tr>
  <% end %>
</table>
