<h1>場所一覧</h1>
<%= button_to :create, new_place_path, method: :get %>
<table border="thin">
  <tr>
    <th>場所名</th>
    <th>エリア</th>
    <th>緯度</th>
    <th>軽度</th>
    <th>備考</th>
    <th>修正</th>
  </tr>
  <% @places.each do |place| %>
    <tr>
      <td><%= place.name %></td>
      <td><%= place.area %></td>
      <td><%= place.lat %></td>
      <td><%= place.lng %></td>
      <td><%= place.info %></td>
      <td><%= button_to :update, edit_place_path(place), method: :get %>
    </tr>
  <% end %>
</table>
